<div class="row text-center">
            {{#each data}}
            <div class="row">
                <h2>{{this.title}}</h2>
                <p>Bill description: {{this.description}}</p>
                <p>Amount due: ${{this.amount}}</p>
                <p>This bill is due on{{this.due_date}}</p>
                <a href="/bills/{{this._id}}">Update bill</a>
            </div>
            {{/each}}
</div>
<div class="row">
    <a href="#">Send a reminder with your bills!</a>
</div>