<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="lead">
      <a href="/bills/{{{data._id}}}">{{{data.title}}}</a>
    </div>
    <p>{{{data.description}}}</p>
    <p>{{{data.amount}}}</p>
    <form action = "/bills/{{{data._id}}}?_method=PUT", method="post">
        <div class="form-group">
          <label for="title">title</label>
          <input type="text" name="topic" class="form-control" id="card-topic">
        </div>
        <div class="form-group">
          <label for="card-exercises">Exercises</label>
          <input type="text" name="exercises" class="form-control" id="card-exercises">
        </div>

        <div class='text-right'>
          <button type="submit" class="btn btn-primary">Update bill</button>
        </div>
    </form>
  </div>
</div>